{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="site-header">
    {{> site-header}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;600;700&display=swap" rel="stylesheet">
</header>

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<main id="site-main" class="site-main outer">
    <div class="inner">

        <article class="post-full {{post_class}} {{#unless feature_image}}no-image{{/unless}}">

            <header class="post-full-header">

                {{#if primary_tag}}
                <section class="post-full-tags">
                    {{#primary_tag}}
                    <a href="{{url}}">{{name}}</a>
                    {{/primary_tag}}
                </section>
                {{/if}}

                <h1 class="post-full-title"><span>{{title}}</span></h1>

                {{#if custom_excerpt}}
                <p class="post-full-custom-excerpt">{{custom_excerpt}}</p>
                {{/if}}

                <div class="post-full-byline">

                    <section class="post-full-byline-content">

                        <ul class="author-list">
                            {{#foreach authors}}
                            <li class="author-list-item">

                                <div class="author-card">
                                    {{#if profile_image}}
                                    <img class="author-profile-image" src="{{img_url profile_image size="xs"}}" alt="{{name}}" />
                                    {{else}}
                                    <div class="author-profile-image">{{> "icons/avatar"}}</div>

                                    {{/if}}
                                    <div class="author-info">
                                        {{#if bio}}
                                        <div class="bio">
                                            <h2>{{name}}</h2>
                                            <p>{{bio}}</p>
                                            <p><a href="{{url}}">More posts</a> by {{name}}.</p>
                                        </div>
                                        {{else}}
                                        <h2>{{name}}</h2>
                                        <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                                        {{/if}}
                                    </div>
                                </div>

                                {{#if profile_image}}
                                <a href="{{url}}" class="author-avatar">
                                    <img class="author-profile-image" src="{{img_url profile_image size="xs"}}" alt="{{name}}" />
                                </a>
                                {{else}}
                             <div class="author-profile-image">{{> "icons/avatar"}}</div>

                                {{/if}}

                            </li>
                            {{/foreach}}
                        </ul>

                        <section class="post-full-byline-meta">
                            <h4 class="author-name">{{authors}}</h4>
                            <div class="byline-meta-content">
                                <time class="byline-meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
                                <span class="byline-reading-time"><span class="bull">&bull;</span> {{reading_time}}</span>
                            </div>
                        </section>

                    </section>


                </div>
            </header>

            {{#if feature_image}}
            <figure class="post-full-image">
                {{!-- This is a responsive image, it loads different sizes depending on device
                https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
                <img
                    srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w,
                            {{img_url feature_image size="l"}} 1000w,
                            {{img_url feature_image size="xl"}} 2000w"
                    sizes="(max-width: 800px) 400px,
                        (max-width: 1170px) 1170px,
                            2000px"
                    src="{{img_url feature_image size="xl"}}"
                    alt="{{title}}"
                />
            </figure>
            {{/if}}


            <section class="post-full-content">
                  <div class="social-icon__container">
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                                    class="social-icon__icon social-icon__icon-twitter"
                                    xmlns="http://www.w3.org/2000/svg"
                                    onclick="handleTwitterIconClick();">
                                     <title>Share on Twitter</title>
                                    <script>
                                          function handleTwitterIconClick() {
                                                     const twitterURL = `https://twitter.com/intent/tweet?url=https://devtron.ai{{url}}`;
                                                     window.open(twitterURL, '_blank');
                                                        }
                                 </script>
                                     <g id="ic-share-twitter" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <path d="M20.0061503,0.00308195907 C31.0474288,0.00308195907 39.9981535,8.95380667 39.9981535,19.9950852 C39.9981535,31.0363636 31.0474288,39.9870884 20.0061503,39.9870884 C8.96487186,39.9870884 0.0141471425,31.0363636 0.0141471425,19.9950852 C0.0141471425,8.95380667 8.96487186,0.00308195907 20.0061503,0.00308195907 Z M24.9370812,9.5776562 C22.0334549,9.5776562 19.6786073,11.9315534 19.6786073,14.8368768 C19.6786073,15.2485288 19.7249725,15.6501338 19.8141049,16.0357181 C15.4430859,15.8160437 11.5678958,13.7222802 8.97402669,10.5408024 C8.5211009,11.317809 8.26184976,12.2212168 8.26184976,13.1851097 C8.26184976,15.0095072 9.19044267,16.6191859 10.6014233,17.5621025 C9.76614612,17.536219 8.94920048,17.31076 8.21887883,16.9045726 L8.21887883,16.9710316 C8.21887883,19.519418 10.0314645,21.6443406 12.4375649,22.1276108 C11.9955685,22.2487168 11.5317133,22.3119852 11.0518373,22.3119852 C10.7125503,22.3119852 10.3833781,22.2798758 10.0618089,22.2193907 C10.7310828,24.3081307 12.6733958,25.8285412 14.9741394,25.8715122 C13.1741802,27.2824928 10.9061571,28.1235825 8.44283,28.1235825 C8.01855149,28.1235825 7.59922856,28.0982615 7.18757658,28.0486379 C9.51540606,29.5412837 12.279326,30.4126499 15.2494792,30.4126499 C24.9227576,30.4126499 30.2131372,22.3987417 30.2131372,15.4489919 C30.2131372,15.2208319 30.2081137,14.994369 30.1971164,14.7687207 C31.2278526,14.0231847 32.1176079,13.1000754 32.8247241,12.0426125 C31.8817397,12.4610529 30.868902,12.7439279 29.8039969,12.8710757 C30.8908287,12.2202664 31.7234329,11.1889641 32.1165524,9.9615434 C31.0841505,10.5747304 29.9542796,11.0064137 28.776021,11.237841 C27.8171516,10.2157711 26.4498208,9.5776562 24.9370812,9.5776562 Z" id="Combined-Shape" fill="#1DA1F2" fill-rule="nonzero"></path>
                                        </g>

                                </svg>
                                <svg width="40px" height="40px" viewBox="0 0 40 40" version="1.1"
                                     xmlns="http://www.w3.org/2000/svg"
                                     class=" social-icon__icon social-icon__icon-reddit "
                                     onclick="handleRedditIconClick()">
                                     <title>Share on Reddit</title>
                                     <script>
                                         function handleRedditIconClick(){
                                             const redditURL = `https://www.reddit.com/submit?url=https://devtron.ai{{url}}&title={{title}}`
                                             window.open(redditURL, '_blank')
                                         }
                                     </script>

                                    <g id="References" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="ic-share-reddit" fill="#FF3F18" fill-rule="nonzero">
                                            <path d="M40.0023141,20.583051 C39.7269309,31.0753736 31.1171536,40.1221953 19.7674284,40.00762 C8.95342783,39.8988313 0.0590107029,31.1367119 0.00462829043,20.0032304 C0.070581429,8.88595143 8.91408736,0.254609935 19.5487417,0.01388601 C30.9563205,-0.243040487 40.3043101,9.07343834 40.0023141,20.583051 Z M21.4286229,8.68712397 C20.8894017,10.3977567 20.3481145,12.1073564 19.8109593,13.8190221 C19.7644747,13.9677728 19.7252211,14.0752039 19.5258538,14.0741709 C18.5176548,14.0669399 17.5239177,14.2094927 16.5384445,14.4181568 C14.7709973,14.7920994 13.127509,15.4594115 11.6327713,16.4789734 C11.4964166,16.5719426 11.4127443,16.5347549 11.2877524,16.4769074 C10.776422,16.2403525 10.2774874,15.9459501 9.73826626,15.8033974 C7.8747509,15.3096278 5.66208467,16.8239923 6.04325826,19.3124671 C6.19304192,20.2907093 6.77461573,20.998308 7.57621657,21.5354632 C7.70843939,21.6232674 7.73736313,21.7028077 7.71360434,21.8474264 C7.48944535,23.1934134 7.6288991,24.4991138 8.17225225,25.7552305 C8.94492935,27.5412716 10.2743885,28.8325101 11.8889531,29.851039 C13.7318086,31.0141866 15.7760973,31.6029913 17.9195532,31.8726019 C19.7944314,32.1070908 21.6589798,32.0182536 23.5008023,31.6029913 C26.1514567,31.0048896 28.5118406,29.8675668 30.3288714,27.7840244 C31.7698935,26.1312392 32.4082818,24.2098763 32.1118134,22.0178699 C32.0715268,21.7255335 32.1417702,21.5840138 32.3690281,21.4156363 C33.3152477,20.7142356 33.8895906,19.8052037 33.7749286,18.5800766 C33.6623326,17.3787083 33.054934,16.4851713 31.9547988,15.9965667 C30.7637605,15.4718074 29.6243717,15.6195251 28.6027438,16.4541816 C28.4860158,16.5492168 28.4147395,16.5533487 28.2949125,16.4748414 C26.4004074,15.2259556 24.3127331,14.5266208 22.0618462,14.2983299 C21.8097964,14.2725051 21.5577467,14.2456473 21.2685093,14.2156906 C21.7581469,12.6930622 22.2343557,11.2096874 22.7157294,9.71185082 C22.8314243,9.73044466 22.9243935,9.74077456 23.0152967,9.76040139 C24.1639824,10.0072862 25.3116352,10.2624349 26.4644529,10.4969238 C26.7010078,10.5454744 26.8187687,10.6281136 26.8859131,10.8780974 C27.2020083,12.0598389 28.3785848,12.8128891 29.5665242,12.6217858 C31.1996826,12.3583732 32.0859887,10.5991899 31.2947177,9.19019048 C30.6614944,8.06423054 28.69468,7.39072055 27.4272003,8.86479839 C27.3032414,9.0094171 27.1978763,9.04350579 27.012971,9.00321915 C25.5202993,8.67576108 24.0255617,8.36173188 22.530824,8.04253773 C21.9099966,7.90928192 21.6197261,8.0797254 21.4286229,8.68712397 Z M23.6774438,26.0320721 C23.9553183,25.8729915 24.3127331,25.9494328 24.5895746,26.2242083 C24.7889418,26.4215096 24.8447233,26.7200439 24.6277953,26.9710607 C24.3736795,27.2623641 24.0720462,27.5350736 23.7425222,27.7354738 C22.8386553,28.278827 21.8397532,28.5546355 20.7923005,28.6507037 C20.4927332,28.6785944 20.1931659,28.6951223 20.0103265,28.7085512 C18.3255186,28.6889243 16.8690016,28.3098167 15.5736311,27.4007848 C15.4228145,27.2954198 15.2792288,27.160098 15.1728307,27.0103143 C14.9848264,26.7438027 15.0085852,26.4184106 15.1965895,26.2293733 C15.481695,25.9411689 15.8556376,25.8802224 16.153139,26.0537649 L16.153139,26.0537649 L16.7512406,26.4104049 C16.9518991,26.5271329 17.1556565,26.6368882 17.3679361,26.7252089 C19.4401156,27.5867232 21.4399857,27.4059498 23.3541177,26.2428022 C23.4636147,26.1756578 23.5658808,26.0961175 23.6774438,26.0320721 Z M24.1712134,19.5944652 C25.2062701,19.5913746 26.0605535,20.4528889 26.0646998,21.5065395 C26.0688174,22.4961446 25.1804453,23.3814177 24.1815433,23.3824516 C23.1423545,23.3834837 22.2922031,22.5095735 22.2911692,21.4373291 C22.2901372,20.4570209 23.1661133,19.5975725 24.1712134,19.5944652 Z M15.6056539,19.5955056 C16.6365786,19.5944736 17.5073899,20.4652848 17.511536,21.5024075 C17.5156538,22.458957 16.6159188,23.3803847 15.6769302,23.3824545 C14.6119167,23.3845167 13.7266436,22.5281674 13.723541,21.4931106 C13.7214787,20.4694167 14.5881579,19.5955056 15.6056539,19.5955056 Z" id="Combined-Shape"></path>
                                        </g>
                                    </g>
                                </svg>
                                 <svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                                    class="social-icon__icon social-icon__icon-facebook mr-10"
                                    onclick="handleFacebookClick();"
                                    xmlns="http://www.w3.org/2000/svg" class="facebook-in-position">
                                     <title>Share on Facebook</title>

                                    <script>
                                        function handleFacebookClick(){
                                                         const facebookURL = `https://www.facebook.com/sharer.php?u=https://devtron.ai{{url}}`
                                                         window.open(facebookURL, '_blank')
                                        }
                                    </script>
                                   <g id="ic-share-fb" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <path d="M20,0 C31.045695,0 40,8.954305 40,20 C40,29.9899385 32.6756106,38.2691743 23.1039578,39.7605814 L23.1038251,25.7704918 L27.7595628,25.7704918 L28.6448087,20 L23.1147541,20 L23.1147541,16.2622951 C23.1147541,14.6885246 23.8907104,13.147541 26.3606557,13.147541 L28.8743169,13.147541 L28.8743169,8.24043716 C28.8743169,8.24043716 26.5901639,7.84699454 24.4043716,7.84699454 C19.8469945,7.84699454 16.8743169,10.6120219 16.8743169,15.6065574 L16.8743169,20 L11.8142077,20 L11.8142077,25.7704918 L16.8743169,25.7704918 L16.8739978,39.7571339 C7.31314583,38.2564591 0,29.9822679 0,20 C0,8.954305 8.954305,0 20,0 Z" id="Combined-Shape" fill="#1877F2"></path>
                                    </g>

                                </svg>

                                 <svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                                    class="social-icon__icon  social-icon__icon-linkedin"
                                    onclick="handleLinkedinClick();"
                                    xmlns="http://www.w3.org/2000/svg" class="linked-in-position"
                                    onclick="openLinkedin()">
                                     <title>Share on Linkedin</title>
                                    <script>
                                        function handleLinkedinClick(){
                                                         const linkedInURL = `https://www.linkedin.com/sharing/share-offsite/?url=https://devtron.ai{{url}}`
                                                         window.open(linkedInURL, '_blank')
                                        }
                                    </script>
                                    <g id="ic-share-linkedin" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <path d="M20,0 C31.045695,0 40,8.954305 40,20 C40,31.045695 31.045695,40 20,40 C8.954305,40 0,31.045695 0,20 C0,8.954305 8.954305,0 20,0 Z M25.3697124,14.7563452 C22.680203,14.7563452 21.5541455,16.2267343 20.8654822,17.2690355 L20.8654822,15.3612521 L16.3612521,15.3612521 C16.3859671,15.7704225 16.3960962,17.2127603 16.3980954,19.0428996 L16.398018,20.6439521 C16.3974571,21.1983376 16.3964073,21.7688136 16.3950069,22.3415477 L16.3931671,23.0290272 L16.3931671,23.0290272 L16.3910438,23.7133629 C16.3813059,26.6643331 16.3650824,29.3771388 16.36183,29.9068289 L16.3612521,30 L16.3612521,30 L20.9492386,30 L20.9492386,21.5964467 C20.9492386,21.1590525 20.9492386,20.7309645 21.1260575,20.3866328 C21.4703892,19.5211506 22.2521151,18.571912 23.6387479,18.571912 C25.4534687,18.571912 26.4957699,19.6142132 26.4957699,21.605753 L26.4957699,29.9255499 L31,29.9255499 L31,21.428934 C31,16.8409475 28.571066,14.7563452 25.3697124,14.7563452 Z M13.6717428,15.3612521 L9.16751269,15.3612521 L9.16751269,29.9162437 L13.6717428,29.9162437 L13.6717428,15.3612521 Z M11.3358714,8 C9.94923858,8 9,8.94923858 9,10.2521151 C9,11.500705 9.79486129,12.4245129 11.0815252,12.4993293 L11.2521151,12.5042301 C12.7225042,12.5042301 13.6717428,11.4619289 13.6717428,10.2521151 C13.6717428,8.94923858 12.8062606,8 11.3358714,8 Z" id="Combined-Shape" fill="#0077B5" fill-rule="nonzero"></path>
                                    </g>
                                </svg>
                                <svg width="40px" height="40px" viewBox="0 0 40 40" version="1.1"
                                 xmlns="http://www.w3.org/2000/svg"
                                 onclick="handleHackerNewsClick();"
                                  xmlns:xlink="http://www.w3.org/1999/xlink"
                                  class="social-icon__icon social-icon__icon-hackernews"
                                  >
                                <title>Share on Hacker News</title>

                                  <script>
                                        function handleHackerNewsClick(){
                                                         const hackerNewsURL = `https://news.ycombinator.com/submitlink?u=https://devtron.ai{{url}}&t={{title}}`
                                                         window.open(hackerNewsURL, '_blank')
                                        }
                                    </script>
                                    <g id="ic-share-ycombinator" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <path d="M20,0 C31.045695,-2.02906125e-15 40,8.954305 40,20 C40,31.045695 31.045695,40 20,40 C8.954305,40 1.3527075e-15,31.045695 0,20 C-1.3527075e-15,8.954305 8.954305,2.02906125e-15 20,0 Z M14.9241333,9.75493333 L11.7864,9.75493333 L18.6521333,22.6165333 L18.6521333,31.0666667 L21.2928,31.0666667 L21.2928,22.7718667 L28.2206667,9.75493333 L25.3004,9.75493333 L21.1996,17.8944 C20.9924878,18.3293355 20.7905566,18.7487312 20.5938,19.1526 C20.3970434,19.5564687 20.2158231,19.9344427 20.0501333,20.2865333 C19.9879997,20.1208436 19.9155116,19.9396233 19.8326667,19.7428667 C19.7498219,19.5461102 19.6566228,19.3441787 19.5530667,19.1370667 C19.5323555,19.0956442 19.5116445,19.0490447 19.4909333,18.9972667 C19.4702222,18.9454886 19.4391558,18.8885336 19.3977333,18.8264 C19.3355997,18.6607103 19.2631116,18.5002008 19.1802667,18.3448667 C19.0974219,18.1895325 19.0249336,18.0393784 18.9628,17.8944 L18.9628,17.8944 L14.9241333,9.75493333 Z" id="Combined-Shape" fill="#FB651E" fill-rule="nonzero"></path>
                                    </g>
                                </svg>

            </div>
                <div class="post-content">
                    {{content}}

                </div>
                <div class="social-icon__container social-icon__container--mt-30">
                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none" class="social-icon__icon social-icon__icon-twitter"
                    xmlns="http://www.w3.org/2000/svg" onclick="handleTwitterIconClick();">
                    <title>Share on Twitter</title>
                    <script>
                      function handleTwitterIconClick() {
                        const twitterURL = `https://twitter.com/intent/tweet?url=https://devtron.ai{{url}}`;
                        window.open(twitterURL, '_blank');
                      }
                    </script>
                    <g id="ic-share-twitter" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <path
                        d="M20.0061503,0.00308195907 C31.0474288,0.00308195907 39.9981535,8.95380667 39.9981535,19.9950852 C39.9981535,31.0363636 31.0474288,39.9870884 20.0061503,39.9870884 C8.96487186,39.9870884 0.0141471425,31.0363636 0.0141471425,19.9950852 C0.0141471425,8.95380667 8.96487186,0.00308195907 20.0061503,0.00308195907 Z M24.9370812,9.5776562 C22.0334549,9.5776562 19.6786073,11.9315534 19.6786073,14.8368768 C19.6786073,15.2485288 19.7249725,15.6501338 19.8141049,16.0357181 C15.4430859,15.8160437 11.5678958,13.7222802 8.97402669,10.5408024 C8.5211009,11.317809 8.26184976,12.2212168 8.26184976,13.1851097 C8.26184976,15.0095072 9.19044267,16.6191859 10.6014233,17.5621025 C9.76614612,17.536219 8.94920048,17.31076 8.21887883,16.9045726 L8.21887883,16.9710316 C8.21887883,19.519418 10.0314645,21.6443406 12.4375649,22.1276108 C11.9955685,22.2487168 11.5317133,22.3119852 11.0518373,22.3119852 C10.7125503,22.3119852 10.3833781,22.2798758 10.0618089,22.2193907 C10.7310828,24.3081307 12.6733958,25.8285412 14.9741394,25.8715122 C13.1741802,27.2824928 10.9061571,28.1235825 8.44283,28.1235825 C8.01855149,28.1235825 7.59922856,28.0982615 7.18757658,28.0486379 C9.51540606,29.5412837 12.279326,30.4126499 15.2494792,30.4126499 C24.9227576,30.4126499 30.2131372,22.3987417 30.2131372,15.4489919 C30.2131372,15.2208319 30.2081137,14.994369 30.1971164,14.7687207 C31.2278526,14.0231847 32.1176079,13.1000754 32.8247241,12.0426125 C31.8817397,12.4610529 30.868902,12.7439279 29.8039969,12.8710757 C30.8908287,12.2202664 31.7234329,11.1889641 32.1165524,9.9615434 C31.0841505,10.5747304 29.9542796,11.0064137 28.776021,11.237841 C27.8171516,10.2157711 26.4498208,9.5776562 24.9370812,9.5776562 Z"
                        id="Combined-Shape" fill="#1DA1F2" fill-rule="nonzero"></path>
                    </g>

                  </svg>
                  <svg width="40px" height="40px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    class=" social-icon__icon social-icon__icon-reddit " onclick="handleRedditIconClick()">
                    <title>Share on Reddit</title>
                    <script>
                      function handleRedditIconClick() {
                        const redditURL = `https://www.reddit.com/submit?url=https://devtron.ai{{url}}&title={{title}}`
                        window.open(redditURL, '_blank')
                      }
                    </script>

                    <g id="References" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="ic-share-reddit" fill="#FF3F18" fill-rule="nonzero">
                        <path
                          d="M40.0023141,20.583051 C39.7269309,31.0753736 31.1171536,40.1221953 19.7674284,40.00762 C8.95342783,39.8988313 0.0590107029,31.1367119 0.00462829043,20.0032304 C0.070581429,8.88595143 8.91408736,0.254609935 19.5487417,0.01388601 C30.9563205,-0.243040487 40.3043101,9.07343834 40.0023141,20.583051 Z M21.4286229,8.68712397 C20.8894017,10.3977567 20.3481145,12.1073564 19.8109593,13.8190221 C19.7644747,13.9677728 19.7252211,14.0752039 19.5258538,14.0741709 C18.5176548,14.0669399 17.5239177,14.2094927 16.5384445,14.4181568 C14.7709973,14.7920994 13.127509,15.4594115 11.6327713,16.4789734 C11.4964166,16.5719426 11.4127443,16.5347549 11.2877524,16.4769074 C10.776422,16.2403525 10.2774874,15.9459501 9.73826626,15.8033974 C7.8747509,15.3096278 5.66208467,16.8239923 6.04325826,19.3124671 C6.19304192,20.2907093 6.77461573,20.998308 7.57621657,21.5354632 C7.70843939,21.6232674 7.73736313,21.7028077 7.71360434,21.8474264 C7.48944535,23.1934134 7.6288991,24.4991138 8.17225225,25.7552305 C8.94492935,27.5412716 10.2743885,28.8325101 11.8889531,29.851039 C13.7318086,31.0141866 15.7760973,31.6029913 17.9195532,31.8726019 C19.7944314,32.1070908 21.6589798,32.0182536 23.5008023,31.6029913 C26.1514567,31.0048896 28.5118406,29.8675668 30.3288714,27.7840244 C31.7698935,26.1312392 32.4082818,24.2098763 32.1118134,22.0178699 C32.0715268,21.7255335 32.1417702,21.5840138 32.3690281,21.4156363 C33.3152477,20.7142356 33.8895906,19.8052037 33.7749286,18.5800766 C33.6623326,17.3787083 33.054934,16.4851713 31.9547988,15.9965667 C30.7637605,15.4718074 29.6243717,15.6195251 28.6027438,16.4541816 C28.4860158,16.5492168 28.4147395,16.5533487 28.2949125,16.4748414 C26.4004074,15.2259556 24.3127331,14.5266208 22.0618462,14.2983299 C21.8097964,14.2725051 21.5577467,14.2456473 21.2685093,14.2156906 C21.7581469,12.6930622 22.2343557,11.2096874 22.7157294,9.71185082 C22.8314243,9.73044466 22.9243935,9.74077456 23.0152967,9.76040139 C24.1639824,10.0072862 25.3116352,10.2624349 26.4644529,10.4969238 C26.7010078,10.5454744 26.8187687,10.6281136 26.8859131,10.8780974 C27.2020083,12.0598389 28.3785848,12.8128891 29.5665242,12.6217858 C31.1996826,12.3583732 32.0859887,10.5991899 31.2947177,9.19019048 C30.6614944,8.06423054 28.69468,7.39072055 27.4272003,8.86479839 C27.3032414,9.0094171 27.1978763,9.04350579 27.012971,9.00321915 C25.5202993,8.67576108 24.0255617,8.36173188 22.530824,8.04253773 C21.9099966,7.90928192 21.6197261,8.0797254 21.4286229,8.68712397 Z M23.6774438,26.0320721 C23.9553183,25.8729915 24.3127331,25.9494328 24.5895746,26.2242083 C24.7889418,26.4215096 24.8447233,26.7200439 24.6277953,26.9710607 C24.3736795,27.2623641 24.0720462,27.5350736 23.7425222,27.7354738 C22.8386553,28.278827 21.8397532,28.5546355 20.7923005,28.6507037 C20.4927332,28.6785944 20.1931659,28.6951223 20.0103265,28.7085512 C18.3255186,28.6889243 16.8690016,28.3098167 15.5736311,27.4007848 C15.4228145,27.2954198 15.2792288,27.160098 15.1728307,27.0103143 C14.9848264,26.7438027 15.0085852,26.4184106 15.1965895,26.2293733 C15.481695,25.9411689 15.8556376,25.8802224 16.153139,26.0537649 L16.153139,26.0537649 L16.7512406,26.4104049 C16.9518991,26.5271329 17.1556565,26.6368882 17.3679361,26.7252089 C19.4401156,27.5867232 21.4399857,27.4059498 23.3541177,26.2428022 C23.4636147,26.1756578 23.5658808,26.0961175 23.6774438,26.0320721 Z M24.1712134,19.5944652 C25.2062701,19.5913746 26.0605535,20.4528889 26.0646998,21.5065395 C26.0688174,22.4961446 25.1804453,23.3814177 24.1815433,23.3824516 C23.1423545,23.3834837 22.2922031,22.5095735 22.2911692,21.4373291 C22.2901372,20.4570209 23.1661133,19.5975725 24.1712134,19.5944652 Z M15.6056539,19.5955056 C16.6365786,19.5944736 17.5073899,20.4652848 17.511536,21.5024075 C17.5156538,22.458957 16.6159188,23.3803847 15.6769302,23.3824545 C14.6119167,23.3845167 13.7266436,22.5281674 13.723541,21.4931106 C13.7214787,20.4694167 14.5881579,19.5955056 15.6056539,19.5955056 Z"
                          id="Combined-Shape"></path>
                      </g>
                    </g>
                  </svg>
                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none" class="social-icon__icon social-icon__icon-facebook mr-10"
                    onclick="handleFacebookClick();" xmlns="http://www.w3.org/2000/svg" class="facebook-in-position">
                    <title>Share on Facebook</title>
                    <script>
                      function handleFacebookClick() {
                        const facebookURL = `https://www.facebook.com/sharer.php?u=https://devtron.ai{{url}}`
                        window.open(facebookURL, '_blank')
                      }
                    </script>
                    <g id="ic-share-fb" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <path
                        d="M20,0 C31.045695,0 40,8.954305 40,20 C40,29.9899385 32.6756106,38.2691743 23.1039578,39.7605814 L23.1038251,25.7704918 L27.7595628,25.7704918 L28.6448087,20 L23.1147541,20 L23.1147541,16.2622951 C23.1147541,14.6885246 23.8907104,13.147541 26.3606557,13.147541 L28.8743169,13.147541 L28.8743169,8.24043716 C28.8743169,8.24043716 26.5901639,7.84699454 24.4043716,7.84699454 C19.8469945,7.84699454 16.8743169,10.6120219 16.8743169,15.6065574 L16.8743169,20 L11.8142077,20 L11.8142077,25.7704918 L16.8743169,25.7704918 L16.8739978,39.7571339 C7.31314583,38.2564591 0,29.9822679 0,20 C0,8.954305 8.954305,0 20,0 Z"
                        id="Combined-Shape" fill="#1877F2"></path>
                    </g>

                  </svg>

                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none" class="social-icon__icon  social-icon__icon-linkedin"
                    onclick="handleLinkedinClick();" xmlns="http://www.w3.org/2000/svg" class="linked-in-position"
                    onclick="openLinkedin()">
                    <title>Share on Linkedin</title>
                    <script>
                      function handleLinkedinClick() {
                        const linkedInURL = `https://www.linkedin.com/sharing/share-offsite/?url=https://devtron.ai{{url}}`
                        window.open(linkedInURL, '_blank')
                      }
                    </script>
                    <g id="ic-share-linkedin" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <path
                        d="M20,0 C31.045695,0 40,8.954305 40,20 C40,31.045695 31.045695,40 20,40 C8.954305,40 0,31.045695 0,20 C0,8.954305 8.954305,0 20,0 Z M25.3697124,14.7563452 C22.680203,14.7563452 21.5541455,16.2267343 20.8654822,17.2690355 L20.8654822,15.3612521 L16.3612521,15.3612521 C16.3859671,15.7704225 16.3960962,17.2127603 16.3980954,19.0428996 L16.398018,20.6439521 C16.3974571,21.1983376 16.3964073,21.7688136 16.3950069,22.3415477 L16.3931671,23.0290272 L16.3931671,23.0290272 L16.3910438,23.7133629 C16.3813059,26.6643331 16.3650824,29.3771388 16.36183,29.9068289 L16.3612521,30 L16.3612521,30 L20.9492386,30 L20.9492386,21.5964467 C20.9492386,21.1590525 20.9492386,20.7309645 21.1260575,20.3866328 C21.4703892,19.5211506 22.2521151,18.571912 23.6387479,18.571912 C25.4534687,18.571912 26.4957699,19.6142132 26.4957699,21.605753 L26.4957699,29.9255499 L31,29.9255499 L31,21.428934 C31,16.8409475 28.571066,14.7563452 25.3697124,14.7563452 Z M13.6717428,15.3612521 L9.16751269,15.3612521 L9.16751269,29.9162437 L13.6717428,29.9162437 L13.6717428,15.3612521 Z M11.3358714,8 C9.94923858,8 9,8.94923858 9,10.2521151 C9,11.500705 9.79486129,12.4245129 11.0815252,12.4993293 L11.2521151,12.5042301 C12.7225042,12.5042301 13.6717428,11.4619289 13.6717428,10.2521151 C13.6717428,8.94923858 12.8062606,8 11.3358714,8 Z"
                        id="Combined-Shape" fill="#0077B5" fill-rule="nonzero"></path>
                    </g>
                  </svg>
                  <svg width="40px" height="40px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    onclick="handleHackerNewsClick();" xmlns:xlink="http://www.w3.org/1999/xlink"
                    class="social-icon__icon social-icon__icon-hackernews">
                    <title>Share on Hacker News</title>
                    <script>
                      function handleHackerNewsClick() {
                        const hackerNewsURL = `https://news.ycombinator.com/submitlink?u=https://devtron.ai{{url}}&t={{title}}`
                        window.open(hackerNewsURL, '_blank')
                      }
                    </script>
                    <g id="ic-share-ycombinator" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <path
                        d="M20,0 C31.045695,-2.02906125e-15 40,8.954305 40,20 C40,31.045695 31.045695,40 20,40 C8.954305,40 1.3527075e-15,31.045695 0,20 C-1.3527075e-15,8.954305 8.954305,2.02906125e-15 20,0 Z M14.9241333,9.75493333 L11.7864,9.75493333 L18.6521333,22.6165333 L18.6521333,31.0666667 L21.2928,31.0666667 L21.2928,22.7718667 L28.2206667,9.75493333 L25.3004,9.75493333 L21.1996,17.8944 C20.9924878,18.3293355 20.7905566,18.7487312 20.5938,19.1526 C20.3970434,19.5564687 20.2158231,19.9344427 20.0501333,20.2865333 C19.9879997,20.1208436 19.9155116,19.9396233 19.8326667,19.7428667 C19.7498219,19.5461102 19.6566228,19.3441787 19.5530667,19.1370667 C19.5323555,19.0956442 19.5116445,19.0490447 19.4909333,18.9972667 C19.4702222,18.9454886 19.4391558,18.8885336 19.3977333,18.8264 C19.3355997,18.6607103 19.2631116,18.5002008 19.1802667,18.3448667 C19.0974219,18.1895325 19.0249336,18.0393784 18.9628,17.8944 L18.9628,17.8944 L14.9241333,9.75493333 Z"
                        id="Combined-Shape" fill="#FB651E" fill-rule="nonzero"></path>
                    </g>
                  </svg>

                </div>
                    {{> "devops-in-box"}}
              </div>
            </section>

        </article>
    </div>
</main>


{{!-- Links to Previous/Next posts --}}
<aside class="read-next outer">
    <div class="inner">
        <div class="read-next-feed">
            {{#if primary_tag}}
            {{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{id}}" limit="3" as |related_posts|}}
                {{#if related_posts}}
                <article class="read-next-card">
                    <header class="read-next-card-header">
                        {{#../primary_tag}}
                        <h3><span>More in</span> <a href="{{url}}">{{name}}</a></h3>
                        {{/../primary_tag}}
                    </header>
                    <div class="read-next-card-content">
                        <ul>
                            {{#foreach related_posts}}
                            <li>
                                <h4><a href="{{url}}">{{title}}</a></h4>
                                <div class="read-next-card-meta">
                                    <p><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time> –
                                        {{reading_time}}</p>
                                </div>
                            </li>
                            {{/foreach}}
                        </ul>
                    </div>
                    <footer class="read-next-card-">
                        <a href="{{#../primary_tag}}{{url}}{{/../primary_tag}}">{{plural meta.pagination.total empty='No posts' singular='% post' plural='See all % posts'}}
                            →</a>
                    </footer>
                </article>
                {{/if}}
            {{/get}}
            {{/if}}

            {{!-- If there's a next post, display it using the same markup included from - partials/post-card.hbs --}}
            {{#next_post}}
                {{> "post-card"}}
            {{/next_post}}

            {{!-- If there's a previous post, display it using the same markup included from - partials/post-card.hbs --}}
            {{#prev_post}}
                {{> "post-card"}}
            {{/prev_post}}


        </div>
    </div>
</aside>

{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>
    $(document).ready(function () {
        // FitVids - start
        var $postContent = $(".post-full-content");
        $postContent.fitVids();
        // FitVids - end

        // Replace nav with title on scroll - start
        Casper.stickyNavTitle({
            navSelector: '.site-nav-main',
            titleSelector: '.post-full-title',
            activeClass: 'nav-post-title-active'
        });
        // Replace nav with title on scroll - end

        // Hover on avatar
        var hoverTimeout;
        $('.author-list-item').hover(function () {
            var $this = $(this);

            clearTimeout(hoverTimeout);

            $('.author-card').removeClass('hovered');
            $(this).children('.author-card').addClass('hovered');

        }, function () {
            var $this = $(this);

            hoverTimeout = setTimeout(function () {
                $this.children('.author-card').removeClass('hovered');
            }, 800);
        });
    });
</script>

{{/contentFor}}
